1. Write a program to find sum of all elements in a list of integers.

In [ ]:
a=[20,10,24,36,46,28,47]
print(sum(a))

211

2. Input a sentence as a string.
a) Print its length
b) Print the first half of string

In [135]:
x=("Hello world welcome to python!")
print(len(x))

30

In [143]:
print(x[:len(x)//2])

Hello world wel

3. Write a program to enter a tuple of integers as
(78,45,32,19,82,77,40,39). Change the third value in the tuple to
100

In [4]:
T1=(78,45,32,19,82,77,40,39)
y=list(T1)
print(y)
y[2]=100
print(y)
T1=tuple(y)
print(T1)

[78, 45, 32, 19, 82, 77, 40, 39]
[78, 45, 100, 19, 82, 77, 40, 39]
(78, 45, 100, 19, 82, 77, 40, 39)

4. Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]

In [123]:
a=[19,32,10,55,31,32,94,29,10,65,77,40,40]

(a) Delete the first occurrence of 32

In [124]:
a.remove(32)
print(a)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

(b) Delete all occurrences of 40

In [125]:
a.remove(40)
print(a)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40]

(c) Delete the value at index=5

In [126]:
a.pop(5)
print(a)

[19, 10, 55, 31, 32, 29, 10, 65, 77, 40]

(d) Modify the value at index=9 as 300

In [127]:
a.insert(9,300)
print(a)

[19, 10, 55, 31, 32, 29, 10, 65, 77, 300, 40]

(e) Add 200 at index=2

In [128]:
a.insert(2,200)
print(a)

[19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300, 40]

(f) Print the final list with its length, maximum value
and sum of all elements

In [129]:
len(a)

12

In [130]:
sum(a)

868

In [131]:
max(a)

300

5. Consider a string ”The day has been long”

In [56]:
S="The day has been long"

(a) Delete the value at index =4

In [57]:
S = S[0:4:]+S[5::]
print(S)

The ay has been long

(b) Print the string 4 times in a single line with space
between each repetition

In [13]:
print("The day has been long " *4)

The day has been long The day has been long The day has been long The day has been long

(c) Print the string 3 times in a new line each time

In [ ]:
print("The day has been long \n" *3)

The day has been long
The day has been long
The day has been long

(d)
Modify the string at index 7 as ’A’

In [58]:
S=S[:7]+'A'+S[7:]
print(S)

The ay Ahas been long

(e)
Print the string from index 4 to 15

In [59]:
S=S[4:16]
print(S)

ay Ahas been

(f)
Print the final string with its length

In [60]:
len(S)

12